<div class="form-page">
    <aside class="form-page__menu">
        <app-menu-button *ngFor="let n of stepNumbers; let i = index"
            [number]="stepNumbers[i]"
            [text]="stepLabels[i]"
            [selected]="stepSelected[i]"
            [disabled]="stepDisabled[i]"
            (click)="onStepClick(n)">
        </app-menu-button>
    </aside>
    <section class="form-page__step" [ngSwitch]="selectedStep">
        <app-definition-step *ngSwitchCase="1" 
            [editedForm]="editedForm" 
            [formTouched]="definitionStepFormTouched"
            (formChange)="onFormChange($event)"
            (exit)="onDefinitionStepExit($event)">
        </app-definition-step>
        <app-summary-step    *ngSwitchCase="9" [editedForm]="editedForm" (save)="onSave()"></app-summary-step>
        <app-mockup-step     *ngSwitchDefault></app-mockup-step>
    </section>
</div>
