@import "../../../scss/colors.scss";
@import "../../../scss/breakpoints.scss";

.form-page {
    display: flex;
    
    padding-top: 2.8rem;
    margin-top: 0.2rem;
    // top line
    background-image: linear-gradient(to right, black 40%, rgba(255,255,255,0) 0%);
    background-position: top;
    background-size: 2.5rem 0.1rem;
    background-repeat: repeat-x;

    // menu with buttons
    &__menu {
        flex: 0 0 15rem;
    }

    // form step (1-9)
    &__step {
        flex: 1 1 auto;
        background-color: $primary-background-color;
        font-size: 1.4rem;
    }
}
