:host {
    flex: 1 1 auto;
}

.form-field {
    position: relative;

    &__required {
        position: absolute;
        top:   1px;
        right: 2px;
        color: #9A211D;
        font-weight: bold;
    }

    &--invalid {
        outline: 1px solid red;
    }
}