// @use 'sass:math';
@import "../../../scss/colors.scss";

.tooltip {
    position: relative;
    display: flex;

    &__icon {
        path {
            fill: #B22935;
        }
    }

    .popup {
        $popup-width: 150px;
        $icon-width: 16px;

        width: $popup-width;
        min-height: 5rem;

        box-shadow: 0 0 4px black;
        border-radius: 0.5rem;
        backdrop-filter: blur(4px);
        
        padding: 1rem;
        
        position: absolute;
        top: 2rem;
        // left: -(math.div($popup-width, 2) - math.div($icon-width, 2) );
        left: -( ($popup-width / 2) - ($icon-width / 2) );

        text-align: center;
        font-size: 1.2rem;

        &__arrow {
            position: absolute;
            width: 1.3rem;
            height: 1.3rem;
            // border-left: 1px solid black;
            // border-top: 1px solid black;
            // transform: rotate(45deg);
            // border-width: 0.1rem;
            top: -1.5rem;
            left: 6.7rem;
        }
    }
}
