// @use 'sass:math';
@import "../../../scss/colors.scss";

.tooltip {
    display: flex;
    position: relative;

    &__icon {
        path {
            fill: #B22935;
        }
    }

    // popup shows when user hovers over tooltip
    .popup {
        $popup-width: 150px;
        $icon-width: 16px;

        width: $popup-width;
        min-height: 5rem;

        box-shadow: 0 0 4px black;
        border-radius: 0.5rem;
        backdrop-filter: blur(4px);
        
        padding: 1rem;
        
        position: absolute;
        top: 2rem;
        // stackblitz does not allow to use math.div
        // left: -(math.div($popup-width, 2) - math.div($icon-width, 2) );
        left: -( ($popup-width / 2) - ($icon-width / 2) );

        text-align: center;
        font-size: 1.2rem;
    }
}
