<form [formGroup]="editedFormGroup" class="definition-step">
    <div class="column">
        <section class="description-form">
            <h2><span>Description</span><span class="description-form__required-info"><span class="description-form__asterisk"> * </span> is required</span></h2>
            <div>
                <app-form-row>
                    <app-form-field [required]="true" [invalid]="formControlInvalidity('marketingName')">
                        <input type="text" formControlName="marketingName" placeholder="Marketing name">
                    </app-form-field>
                </app-form-row>

                <app-form-row>
                    <app-form-field>
                        <input type="text" formControlName="technicalName" placeholder="Technical name">
                    </app-form-field>
                </app-form-row>

                <app-form-row [tooltipUp]="true">
                    <app-form-field>
                        <textarea placeholder="Description" formControlName="description"></textarea>
                    </app-form-field>
                </app-form-row>
            </div>
        </section>
        <section>
            <h2><span>Catalog promotion tutorial:</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
        </section>
    </div>
    <div class="column">
        <section class="conditions-form">
            <h2><span>Conditions</span><span class="description-form__required-info"><span class="description-form__asterisk"> * </span> is required</span></h2>
            <div>
                <app-form-row>
                    <!-- (click)="condition.control.markAsTouched()" -->
                    <app-form-field [required]="true" [invalid]="formControlInvalidity('condition')">
                        <select formControlName="condition" required>
                            <option value="" disabled selected hidden>Condition</option>
                            <option value="Portal">Portal</option>
                            <option value="Lorem">Lorem</option>
                            <option value="Ipsum">Ipsum</option>
                        </select>
                        <div class="select-arrow"></div>
                    </app-form-field>
                </app-form-row>
                
                <app-form-row>
                    <!-- (click)="typeField.control.markAsTouched()" -->
                    <app-form-field [required]="true" [invalid]="formControlInvalidity('type')">
                        <select formControlName="type" required>
                            <option value="" disabled selected hidden>Type</option>
                            <option value="Amet">Amet</option>
                            <option value="Sit">Sit</option>
                            <option value="Dolor">Dolor</option>
                        </select>
                        <div class="select-arrow"></div>
                    </app-form-field>
                </app-form-row>

                <app-form-row class="number-margins">
                    <app-form-field [invalid]="false">
                        <input type="number" formControlName="benefitAmount" placeholder="Benefit amount" required>
                    </app-form-field>
                </app-form-row>

                <app-form-row class="shorter-margins">
                    <app-form-field [required]="true" [invalid]="formControlInvalidity('startDate')">
                        <input formControlName="startDate" #calendarInput1 type="text" placeholder="Start date" mwlFlatpickr [maxDate]="calendarInput2.value">
                        <a class="calendar-img"><img src="./assets/calendar.png"></a>
                    </app-form-field>

                    <app-form-field style="flex: 0 0 15%;"></app-form-field>

                    <app-form-field>
                        <input formControlName="finishDate" #calendarInput2 type="text" placeholder="Finish date" mwlFlatpickr [minDate]="calendarInput1.value">
                        <a class="calendar-img"><img src="./assets/calendar.png"></a>
                    </app-form-field>
                </app-form-row>

                <app-form-row>
                    <app-form-field>
                        <input formControlName="businessConditions" type="radio" name="businessConditions" [value]="0">
                        <label>Business conditions</label>
                    </app-form-field>

                    <app-form-field>
                        <input formControlName="businessConditions" type="radio" name="businessConditions" [value]="1">
                        <label>Best price 100%</label>
                    </app-form-field>

                    <app-form-field style="width: 4.5rem;"></app-form-field>
                </app-form-row>

                <app-form-row>
                    <app-form-field>
                        <input formControlName="promotionConnection" type="checkbox" name="promotionConnection">
                        <label>Connect with other promotions</label>
                    </app-form-field>
                </app-form-row>

                <app-form-row>
                    <app-form-field>
                        <input formControlName="backPromotion" type="checkbox" name="backPromotion">
                        <label>Back promotions</label>
                    </app-form-field>
                </app-form-row>
            </div>
        </section>
    </div>
</form>
