<div class="definition-step">
    <div class="column">
        <section class="description-form">
            <h2><span>Description</span><span class="description-form__required-info"><span class="description-form__asterisk"> * </span> is required</span></h2>
            <form>
                <app-form-row>
                    <app-form-field [required]="true" [invalid]="!!(marketingName.touched && marketingName.invalid)">
                        <input type="text" #marketingName="ngModel" name="marketingName" placeholder="Marketing name" [ngModel]="editedFormData.marketingName" (ngModelChange)="updateAndSaveForm($event, 'marketingName')" required>
                    </app-form-field>
                </app-form-row>

                <app-form-row>
                    <app-form-field>
                        <input type="text" name="technicalName" placeholder="Technical name" [ngModel]="editedFormData.technicalName" (ngModelChange)="updateAndSaveForm($event, 'technicalName')">
                    </app-form-field>
                </app-form-row>

                <app-form-row [tooltipUp]>
                    <app-form-field>
                        <textarea name="description" placeholder="Description" [ngModel]="editedFormData.description" (ngModelChange)="updateAndSaveForm($event, 'description')"></textarea>
                    </app-form-field>
                </app-form-row>
            </form>
        </section>
        <section>
            <h2><span>Catalog promotion tutorial:</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
        </section>
    </div>
    <div class="column">
        <section class="conditions-form">
            <h2><span>Conditions</span><span class="description-form__required-info"><span class="description-form__asterisk"> * </span> is required</span></h2>
            <form>
                <app-form-row>
                    <app-form-field [required]="true" [invalid]="badInput(condition) || badAfterSave(condition)" (click)="condition.control.markAsTouched()">
                        <select name="condition" #condition="ngModel" [ngModel]="editedFormData.condition" (ngModelChange)="updateAndSaveForm($event, 'condition')" required>
                            <option value="" disabled selected hidden>Condition</option>
                            <option value="Portal">Portal</option>
                            <option value="Lorem">Lorem</option>
                            <option value="Ipsum">Ipsum</option>
                        </select>
                        <div class="select-arrow"></div>
                    </app-form-field>
                </app-form-row>
                
                <app-form-row>
                    <app-form-field [required]="true" [invalid]="badInput(typeField) || badAfterSave(typeField)"  (click)="typeField.control.markAsTouched()">
                        <select name="typeField" #typeField="ngModel" [ngModel]="editedFormData.type" (ngModelChange)="updateAndSaveForm($event, 'type')" required>
                            <option value="" disabled selected hidden>Type</option>
                            <option value="Amet">Amet</option>
                            <option value="Sit">Sit</option>
                            <option value="Dolor">Dolor</option>
                        </select>
                        <div class="select-arrow"></div>
                    </app-form-field>
                </app-form-row>

                <app-form-row class="number-margins">
                    <app-form-field [invalid]="!!(!benefitAmount.validity.valueMissing && !benefitAmount.validity.valid)">
                        <input type="number" name="benefitAmount" #benefitAmount placeholder="Benefit amount" [ngModel]="editedFormData.benefitAmount" (ngModelChange)="updateAndSaveForm($event, 'benefitAmount')" required>
                    </app-form-field>
                </app-form-row>

                <app-form-row class="shorter-margins">
                    <app-form-field [required]="true" [invalid]="badInput(calendarInput1) || badAfterSave(calendarInput1)" (click)="calendarInput1.control.markAsTouched()">
                        <input #calendarInput1="ngModel" type="text" name="startDate" placeholder="Start date" mwlFlatpickr [ngModel]="editedFormData.startDate" (ngModelChange)="updateAndSaveForm($event, 'startDate')" [altInput]="true" [convertModelValue]="true">
                        <a class="calendar-img"><img src="./assets/calendar.png"></a>
                    </app-form-field>

                    <app-form-field style="flex: 0 0 15%;"></app-form-field>

                    <app-form-field>
                        <input #calendarInput2 type="text" name="finishDate" placeholder="Finish date" mwlFlatpickr [(ngModel)]="editedFormData.finishDate" [altInput]="true" [convertModelValue]="true" [ngModel]="editedFormData.finishDate" (ngModelChange)="updateAndSaveForm($event, 'finishDate')">
                        <a class="calendar-img"><img src="./assets/calendar.png"></a>
                    </app-form-field>
                </app-form-row>

                <app-form-row>
                    <app-form-field>
                        <input type="radio" name="businessConditions" [value]="0" [ngModel]="editedFormData.businessConditions" (ngModelChange)="updateAndSaveForm($event, 'businessConditions')">
                        <label>Business conditions</label>
                    </app-form-field>

                    <app-form-field>
                        <input type="radio" name="businessConditions" [value]="1" [ngModel]="editedFormData.businessConditions" (ngModelChange)="updateAndSaveForm($event, 'businessConditions')">
                        <label>Best price 100%</label>
                    </app-form-field>

                    <app-form-field style="width: 4.5rem;"></app-form-field>
                </app-form-row>

                <app-form-row>
                    <app-form-field>
                        <input type="checkbox" name="promotionConnection" [ngModel]="editedFormData.promotionConnection" (ngModelChange)="updateAndSaveForm($event, 'promotionConnection')">
                        <label>Connect with other promotions</label>
                    </app-form-field>
                </app-form-row>

                <app-form-row>
                    <app-form-field>
                        <input type="checkbox" name="backPromotion" [ngModel]="editedFormData.backPromotion" (ngModelChange)="updateAndSaveForm($event, 'backPromotion')">
                        <label>Back promotions</label>
                    </app-form-field>
                </app-form-row>
            </form>
        </section>
    </div>
</div>
