@import "../../../../../../scss/colors.scss";
@import "../../../../../../scss/breakpoints.scss";

.definition-step {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $primary-background-color;
    padding: 2.2rem 1rem 0rem 0;

    p {
        margin: 25px 0;
    }

    h2 {
        display: flex;
        justify-content: space-between;
        height: 2.4rem;
        border-bottom: 2px solid white;
        margin-top: 0;
        margin-bottom: 1.5rem;
        font-weight: lighter;
        line-height: 0.1;
    }

    & > div {
        padding: 0 4rem;
        border-right: 2px;
        border-color: white;
        box-sizing: border-box;
        border-right-style: solid;
    }
    & > div > section > form {
        textarea {
            resize: vertical;
            height: 140px;
        }
    }

    app-form-row:first-of-type {
        margin: 0;
    }

    app-form-row {
        display: block;
        margin: 30px 0;
    }

    .calendar-img {
        position: absolute;
        cursor: pointer;
        width:  16px;
        height: 16px;
        right: 10px;
        top: calc(50% - 8px);
        pointer-events: none;

        img {
            max-width: 100%;
        }
    }

    .select-arrow {
        position: absolute;
        height: 13px;
        width: 13px;
        right: 10px;
        top: calc(100% - 26.5px);
        pointer-events: none;    
    }

    .description-form {
        min-height: 380px;

        &__required-info {
            color: #96201C;
            font-size: 1.2rem;
        }

        &__asterisk {
            vertical-align: sub;
            font-weight: bold;
        }

        form {
            // display: block;
        }

    }

    .conditions-form {
        .number-margins {
            margin-bottom: -10px;
        }

        .shorter-margins, .shorter-margins ~ app-form-row {
            margin: 20px 0;
        }

        input ~ label {
            padding-left: 0.3rem;
        }

        select:invalid {
            color: #818181;
        }
    }
}

@media screen and (max-width: $form-one-column-breakpoint) {
    .definition-step {
        grid-template-columns: 1fr;
    }
}
