.form-row {
    display: flex;
    position: relative;

    &__tooltip {
        position: absolute;
        top: calc(50% - 0.8rem);
        right: -20px;

        &--up {
            top: 1.2rem;
        }
    }
}
