.form-row {
    display: flex;
    position: relative;

    &__tooltip {
        position: absolute;
        top: calc(50% - 8px);
        right: -2rem;

        &--up {
            top: 12px;
        }
    }
}
