/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

* {
    box-sizing: border-box;
}

html, body {
    font-size: 10px;
}

.form-page {
    input[type="text"], input[type="number"], input[type="date"], textarea, select {
        width: 100%;
    }
}
